# Ignore everything
*

# Directories and contents
!.cargo/
!.cargo/**
!.vscode/
!.vscode/**
!src/
!src/*.rs

# Individual files
!.gitignore
!Cargo.toml
!Cargo.lock
!LICENSE
!README.md
!.gitlab-ci.yml
